Contacts:
<ul class="contact-list">
  <% @contacts.each do |contact| %>
    <li>
      <%= contact.first_name %>
    </li>
  <% end %>
</ul>

<%= form_for @round do |f| %>
  <p>
    <%= f.label :datetime %><br>
    <%= f.date_field :datetime %>
  </p>
  <p>
    <%= f.label :datetime %><br>
    <%= f.time_select :datetime, {minute_step: 30, ampm: true, start_hour: 8, end_hour: 20}%>
  </p>

  <%= f.fields_for :skills do |skills_fields| %>
    <% @skills.each do |skill| %>
       <%= skills_fields.check_box skill.name %><%= skill.name %><br>
    <% end %>
  <% end %>

  <p>
    <%= f.submit %>
  </p>

<% end %>
